<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/app.b30f904b.css" />
  <title>Online Menu</title>
</head>
<body class="antialiased">
    {{{body}}}
</body>
</html>
